:root {
  --instagram-icon-size: 45px;
}

.instagram_display {
  padding: 10px 10px 100px 10px;
  display: flex;
  justify-content: center;

  .section {
    display: flex;
    flex-direction: column;

    li {
      &:hover {
        a {
          display: flex;

          img {
            filter: brightness(60%);
          }

          &:after {
            content: "\f16d";
            font-family: "FontAwesome", serif;
            font-size: var(--instagram-icon-size);
            position: absolute;
            margin-left: calc(var(--instagram-icon-size)/-2);
            top: 50%;
            left: 50%;
            color: white;
            z-index: 1;
          }
        }
      }
    }

    &__header {
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: column;

      &--title {
        align-self: center;
        text-align: center;
      }

      &--link {
        margin-top: 1rem;
        align-self: center;

        a {

        }
      }
    }

    &__images {
      display: flex;
      flex-direction: row;

      .splide {
        &__list {
          width: initial;
        }
      }

      img {
        aspect-ratio: 1/1;
      }
    }
  }
}