.instagram_display {
  padding: 10px;
  display: flex;
  justify-content: center;

  .section {
    display:flex;
    flex-direction: column;

    img:hover {
      filter: brightness(60%);
    }

    &__title {
      text-align: center;
    }

    &__images {
      display: flex;
      flex-direction: row;
    }
  }
}