.instagram_image_display {
  padding: 10px;
  display: flex;
  justify-content: center;

  .section {
    display:flex;
    flex-direction: column;

    .title {
      text-align: center;
    }

    .images {
      display: flex;
      flex-direction: row;

      .description {
        z-index: -1;
      }

      img:hover{

      }

      .desktop_grid_display {
        display: grid;
      }

      .mobile_grid_display {
        display: grid;
      }
    }
  }
}