@mixin tab_button(){
    opacity: 0;
    pointer-events: none;
    display: none;
    
    &.active {
        opacity: 1;
        pointer-events: all;
        display: block;
    }
}

#desktop_settings {
    @include tab_button();
}

#mobile_settings {
    @include tab_button();
}

.active {
    opacity: 1;
    pointer-events: all;
}

.instagram_image_display {
    padding: 10px;
    display: flex;
    justify-content: center;

    .section {
        display:flex;
        flex-direction: column;

        .title {
            text-align: center;
        }

        .images {
            display: flex;
            flex-direction: row;

            .description {
                z-index: -1;
            }

            img:hover{

            }
        }
    }

    
}