@import "instagram_display.scss";
@import "grid_display.scss";
@import "./settings/settings.scss";

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  text-transform: uppercase;
}